Source: egison
Version: @@@VERSION@@@
Section: interpreters
Priority: optional
Maintainer: Satoshi, Egi <egison@egison.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://www.egison.org
Vcs-Git: https://github.com/egison/egison.git
Vcs-Browser: https://github.com/egison/egison

Package: egison
Version: @@@VERSION@@@
Section: interpreters
Architecture: amd64
Maintainer: Satoshi, Egi <egison@egison.org>
Description: <The Egison Programming Language>
 <Egison is a functional programming language featuring its expressive pattern-matching facility. Egison allows users to define efficient and expressive pattern-matching methods for arbitrary user-defined data types including non-free data types such as lists, multisets, sets, trees, graphs, and mathematical expressions. This is the repository of the interpreter of Egison.>
